<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detección de lideres y simpatizantes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-card class="custom-card" (click)="navigateToCoordinadores()">
    <img
      alt="Silhouette of mountains"
      src="https://cdn-icons-png.flaticon.com/512/2472/2472947.png"
      style="width: 100%; height: 200px;"
    />
    <ion-card-header>
      <ion-card-title class="custom-title">Registro de Simpatizantes</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="custom-card" (click)="navigateToSimpatizantes()">
    <img
      alt="Silhouette of mountains"
      src="https://cdn-icons-png.flaticon.com/512/6323/6323073.png"
      style="width: 100%; height: 200px;"
    />
    <ion-card-header>
      <ion-card-title class="custom-title">Registro de Coordinadores</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

